@charset "UTF-8";

body {
    font-family: sans-serif;
    margin-left: 40px;
    display: inline-block;
}

.content {
    background-color: rgb(248, 248, 248);
    height: 70px;
    width: 480px;
    box-shadow: 1px 5px 12px rgb(189, 189, 189);
    border-radius: 5px;
    margin-bottom: 45px;
    padding-left: 20px;
}

#inpText{
    background-color: rgb(248, 248, 248);;
    width: 300px;
    height: 40px;
    outline: 0;
}

#inpText, #inpButton{
    border: none;

}  

#inpButton {
    font-size: 15px;
    height: 40px;
    width: 100px;
    margin-left: 60px;
    background-color: white;
    border-radius: 5px;
}

li {
    list-style-type: none;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    margin-bottom: 10px;
    height: 40px;
    width: 420px;
    padding: 18px 0 0 10px;

}