@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    display: inline-block;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100vw;
    align-items: center;
    margin-top: 40px;
    border: 1px solid black;
}

.content {
    background-color: rgb(248, 248, 248);
    height: 70px;
    width: 480px;
    box-shadow: 1px 5px 12px rgb(189, 189, 189);
    border-radius: 5px;
    margin-bottom: 45px;
    padding-left: 20px;
}

#inpText{
    background-color: rgb(248, 248, 248);;
    width: 300px;
    height: 40px;
    outline: 0;
}

#list_itens {
    padding: 0;
}

#inpText, #inpButton{
    border: none;

}  

#inpButton {
    font-size: 15px;
    height: 40px;
    width: 100px;
    margin-left: 60px;
    background-color: white;
    border-radius: 5px;
    transition: 0.5s;
}

#inpButton:hover{
    background-color: rgb(62, 177, 62);
    transition: 0.5s;
}

li{
    list-style-type: none;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    margin-bottom: 10px;
    height: 40px;
    width: 400px;
    padding: 18px 0 0 10px;
    position: relative;
}

#removeButton {
    position: absolute;
    right: 10px;
    top: 12px;
    background-color: white;
    border: none;
    height: 36px;
    width: 90px;
    border-radius: 5px;
    transition: 0.5s;
}

#removeButton:hover {
    background-color: rgb(255, 78, 78);
    transition: 0.5s;
}

